.maincontainer{
    display: flex;
    justify-content: center;
    margin-top: 10rem
}
.container{
    text-align: center;
    margin-top: 20rems;
    padding: 10px;
    border: 1px 1px solid red;
    background-color: antiquewhite;
    height: 500px;
    width: 530px;
    font-size: 20px
}

.container h2{
    margin: 2rem;
}
.container p{
    margin: 3rem;
}
.container p input{
    font-size: 26px;
}
.container p textarea{
    font-size: 26px;
}
.textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.container button{
    font-size: 30px;
}